<div class="alberta-header">
  <div class="alberta-header-top">
    <span class="alberta-header-alpha">Alpha</span>
    <span class="alberta-header-text">This is a new <a href="https://alberta.ca">Alberta Government</a> service — help us improve it by giving <a href="#">feedback</a></span>
  </div>
  <div class="alberta-header-main">
    <div class="alberta-logo-container">
      <a href="/">
        <img src="assets/alberta-logo.svg" alt="Alberta Government" class="alberta-logo">
      </a>
      <a href="/" class="alberta-header-title">BriefingBuddy</a>
    </div>
    <div class="alberta-header-actions">
      <a routerLink="/sign-in" class="alberta-sign-in-button">Sign in</a>
    </div>
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<footer class="alberta-footer">
  <div class="alberta-footer-content">
    <div class="alberta-footer-links-container">
      <div class="alberta-footer-links">
        <a href="#">About</a>
        <a href="#">Help centre</a>
        <a href="#">Disclaimer</a>
        <a href="#">Privacy</a>
      </div>
      <div class="alberta-footer-copyright">
        © 2025 Government of Alberta
      </div>
    </div>
    <div class="alberta-footer-logo">
      <img src="assets/alberta-logo.svg" alt="Alberta Government">
    </div>
  </div>
</footer>
